* {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 微軟正黑體, "Microsoft JhengHei", sans-serif;
	font-size: 18px;
}

$kv-size: 40%;

.kv {
	width: $kv-size;
	height: 100vh;
	text-align: center;
	background-image: -webkit-linear-gradient(bottom, #FED6E3 0%, #A8EDEA 100%);
	background-image: -o-linear-gradient(bottom, #FED6E3 0%, #A8EDEA 100%);
	background-image: linear-gradient(to top, #FED6E3 0%, #A8EDEA 100%);
	position: fixed;
	left: 0px;
	top: 0px;
	display: flex;
	justify-content: center;
    align-items: center;

	h1 {
		font-family: 'Open Sans', sans-serif;
		font-size: 7vw;
		color: #131AD7;
		letter-spacing: 7.68px;
		line-height: 140%;
		margin: 0;
		font-weight: 300;
		margin-top: -15%;
	}
}
.content {
	height: 100vh;
	text-align: center;
	margin-left: $kv-size;
	display: flex;
	justify-content: center;
    align-items: center;
}

.content__intro .description {
	letter-spacing: 7px;
	line-height: 35px;
	margin-bottom: 40px;
}

$btn-color: #50E3C2;

.btn {
	border-radius: 30px;
	background-color: $btn-color;
	color: #FFFFFF;
	padding: 15px 30px;
	border: 0px;
	outline: none;
	letter-spacing: 6.5px;
	font-size: 18px;
	font-weight: lighter;
	transition: all 0.5s;
	overflow: hidden;
	position: relative;

	&:hover {
		background-color: darken($btn-color, 20%);
	}

	&:active {
		background-color: darken($btn-color, 40%);
	}
}

.btn--sp {
	width: 200px;
}

.btn:before {
	content: '';
	display: block;
	width: 100%;
	height: 100px;
	background-color: #131AD7;
	position: absolute;
	top: 100%;
	left: 0px;
	transition: all 0.5s;
}

.btn.active:before {
	top: 0%;
}

.btn.active:after {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: #fff;
	position: absolute;
	top: calc(50% - 10px);
	left: calc(50% - 10px);
	animation: flash infinite 0.6s alternate;
	animation-delay: 0.5s;
	opacity: 0;
}

@keyframes flash {
	from { opacity: 0; transform: scale(0.8); }
	to { opacity: 1; }
}

.form-group {
	margin-bottom: 40px;
	display: flex;
	align-items: center;
}

.label-control {
	margin-right: 30px;
	letter-spacing: 6px;
}

.input-control, .select-control {
	height: 43px;
	width: 320px;
	background: #FFFFFF;
	border: 1px solid #bbb;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	outline: none;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
}

.result {
	text-align: center;

	h1 {
		font-size: 46px;
		color: #0624E3;
		letter-spacing: 7.67px;
		margin: 100px 0px 40px 0px;
		font-weight: lighter;
	}

	h2 {
		font-size: 20px;
		color: #6C6C6C;
		letter-spacing: 13.33px;
		margin: 0;
		font-weight: lighter;
		margin-bottom: 20px;
	}
}

@media (max-width: 768px) {
	.kv {
		width: 100%;
		height: auto;
		padding: 15px 0px;
		position: static;

		h1 {
			margin-top: 0px;
		}
	}

	.content {
		width: 100%;
		height: auto;
		margin-left: 0px;
    	margin-top: 20px;
    	display: block;
	}

	.form-group {
		flex-direction: column;
    	align-items: flex-start;
    	width: 95%;
    	margin-left: auto;
    	margin-right: auto;
	}

	.label-control {
		margin-right: 0px;
    	margin-bottom: 5px;
	}

	.input-control, .select-control {
    	width: 100%;
    	height: 33px;
	}
}

@media (max-width: 480px) {
	.label-control {
		font-size: 16px;
	}
}